<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Productos</h1>
    {%for producto in productos%}
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{producto.nombre}}</h5>
                <p class="card-text">{{producto.descripcion}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{producto.precio}}</li>
                <li class="list-group-item">{{producto.stock}}</li>
                <li class="list-group-item">{{producto.creado}}</li>
            </ul>
        </div>
    {% endfor %}
</body>
</html>